@{
    ViewData["Title"] = "About";
}

<div>
    <div class="text-center"><h1>About Me</h1></div>
    <div class="body-content">
        <div class="font-weight-light">
            I'm a student from the University of Waterloo pursing a major in Data Science.<br />
            <br /><br />
            I love exploring new technologies and I'm extremely interested in skills that would allow myself to
            create new things(eg: songs, videos, websites).  <br />
            In addition to being a developer, I'm also a pianist who passed RCM Level 10 and a published video producer.<br />
            <br /><br /><br />
        </div>
<div>
    <img src="../../images/Jewel.png" width="45%" style="float: left; margin-right: 5%">
    <p>
        I often make music videos (MV) for online singers.  I self taught myself video editing and AE. <br />
        Participated in a video editing contest after self-studying for around 2 months and got to the top30.  I then received my first un-paid work two weeks later. <br />
        Afterwards, I charge $200 - $300 for every videos.  I stopped doing it after entering universities due to busy coursework and coop findings.
    </p>
</div>
<br/><br/>
    <div>
        <div class="col-lg-6">
        </div>
        <p>
            I am also a music producer. <br />
            My interest in music production started in grade 10.  I have been studying piano for around 10 years at that point, thus it is easy for me to pick up the basis<br />
        </p>
    </div>
</div>
</div>
