@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <div class="h1">About Me</div>
    <div class="font-weight-light">I'm a student from the University of Waterloo pursing a major in Data Science.<br/></div>
    <br/><br /><br /><br /><br />
    <div class="body-content">
        I love exploring new technologies and I'm extremely interested in skills that would allow myself to
        create new things(eg: songs, videos, websites).  <br />
        In addition to being a developer, I'm also a pianist who passed RCM Level 10 and a published video producer.<br/>
    </div>
</div>