
@{
    ViewData["Title"] = "Courses";
}

<!--TODO: Button for show/display, more interactive features-->
    <div class="container" id="courseContainer">
        <div class="card">
            <div class="col-md-4 col-lg-4 col-sm-1">
                <h4><b>CS Courses</b></h4>
                <img class="img-responsive" src="~/images/cs.jpg" alt="coding image">
                <p>CS 245</p>
                <p>CS 246</p>
                <p>CS 241</p>
                <p>CS 251</p>
                <p>CO 250</p>
            </div>
        </div>
        <div class="card">
            <div class="col-md-4 col-lg-4 col-sm-1">
                <h4><b>Math and Stat Courses</b></h4>
                <img class="img-responsive" src="~/images/math.jpeg" alt="math equation">
                <p>Math 235</p>
                <p>Math 237</p>
                <p>Math 249</p>
                <p>Stat 230</p>
                <p>Stat 231</p>
            </div>
        </div>
        <div class="card">
            <div class="col-md-4 col-lg-4 col-sm-1">
                <h4><b>Other Courses</b></h4>
                <img class="img-responsive" src="~/images/other.png" alt="other courses">
                <p>Japan 101</p>
                <p>Japan 102</p>
                <p>Econ 101</p>
                <p>Econ 102</p>
                <p>HRM 200</p>
            </div>
        </div>
    </div>

