@{
    ViewData["Title"] = "Home Page";
}

<div class="homepage">
    <div class="intro">Linda Li</div>
    <div class="text-center">
        <div class="h4">Developer • Pianist • Producer</div>
    </div>
</div>